/* Universal Styles */

html {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  background-color: white;
  color: black;
}

h1{
  font-size: 2rem;
  font-weight: bold;
}

h2{
  font-size: 1.5rem;
  font-weight: bold;
}

body{
  display: flex;
  flex-direction: column;
}

.column-wrap{
  display: flex;
  padding-bottom: 2rem;
}

.section-heading h1{
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*Column 1*/
.column1{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  padding-left: 1.5rem;
  border: red solid 2px;
}

.container1{
  display: inline-block;
  border: yellow solid 3px;
}

.container1-img{
  display:inline-block;
  width: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.width60{
 width: 100%;
 height: auto;
}

.container1-video{
  display: flex;
  top: 0;
  bottom: 0;
  flex-direction: column;
  padding-bottom: 1.5rem;
  border: pink solid 3px;
}

.column1-content{
  display: flex;
  flex-direction: column;
}

.column1 h1{
  padding-bottom: 1.5rem;
}

.column1 h2{
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.column1 h4{
  padding-bottom: 2rem;
}

.column1 p{
  padding-bottom: 2rem;
}



/*Column2*/
.column2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-left: 1.5rem;
  padding-top: 2rem;
}

.column2-content{
  display: flex;
  flex-direction: column;
    width: 57%;
  border: green solid 3px;
}

.column2 h1{
  font-size: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.column2 h2{
  padding-bottom: 0.5rem;
}

.column2 p{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.container2{
  display: flex;
  align-items: center;
  width: 100%;
}

.container2-img{
  display:inline-block;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.width35{
  width: 100%;
  height: auto;
}

.container2-content{
  width: 65%;
  margin-left: 1rem;
}

.highlight{
  background-color: lightgrey;
}

.column2-border{
  border-left: lightgrey solid 1px;
}

/*Header*/
header {
  height: 4rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem 0;
  padding: 1rem 0;
  color: black;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 2rem;
  margin-left: 1.5rem;
}

nav ul {
  margin-right: 1.5rem;
}

nav li {
  display: inline;
  padding: 1rem;
}

/*Banner*/

.learn-new {
  background-color: lightgrey;
  border: blue solid 3px;
  width: 100%;
}

.button {
  display: flex;
  background-color: grey;
  color: white;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
  align-content: center;
}

/*Information*/

.information{
  display: flex;
  border: dashed 3px green;
}

/*Courses*/

.courses{
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  border: green dotted 2px;
  width: 100%;
}

.row {
  display: flex;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  margin-bottom: 2rem;
}

.course-type {
  display: flex;
  background-color: white;
  flex-direction:column;
  width: 30%;
  padding-bottom: 1.5rem;
  margin: 1rem;
}

.course-type img{
  width: 100%;
  height: auto;
}

.course-type h2 {
  margin: 1rem;
}

.course-type p {
  width: 75%;
  margin: 0.5rem 1rem;
}


/*Thesis exhibit*/

.thesis {
  display: flex;
  flex-direction: column;
  border: blue dashed 3px;
}

.thesis-heading h1{
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}



/*Footer*/

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-top: lightgrey solid 1px;
}

.tandp li{
    display: inline;
    font-size: 14px;
}

footer p{
  font-size: 14px;
}
