/* Universal Styles */

html {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  background-color: white;
}

h1{
  font-size: 2rem;
  font-weight: bold;
}

h2{
  font-size: 1.5rem;
  font-weight: bold;
}

body{
  display: flex;
  flex-direction: column;
}

/*Header*/
header {
  height: 4rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem 0;
  padding: 1rem 0;
  color: black;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 2rem;
  margin-left: 1.5rem;
}

nav ul {
  margin-right: 1.5rem;
}

nav li {
  display: inline;
  padding: 1rem;
}

/*Banner*/

.learn-new {
  background-color: lightgrey;
  padding: 2rem 1.5rem;

  border: blue solid 3px;
}

.banner-image img {
  width: 60%;
  border: red solid 3px;
}

.learn {
  border: yellow 3px solid;
  display: flex;
}

.start-here{
display: flex;
flex-direction: column;
margin-left: 1.5rem;
align-items: center;
border: green dashed 3px;
}

.blurb {
  display: flex;
  flex-direction: column;
  border: black solid 2px;
}
.button {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 0.5rem 0;
  width: 100%;
  align-content: center;
  border: orange solid 2px;
}

/*Information*/

.information{
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  border: dashed 3px green;
}

.keep-practicing {
  display: flex;
  flex-direction: column;
  border: red solid 2px;
}

.practicing-content h1{
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.keep-practicing img{
  width: 60%;
}

.info-column2 {
  display: flex;
}

.container1{
  display: flex;

  border: solid blue 3px
}

.container1 img{
  width: 35%;
  height: auto;
  padding: 1rem;
}

.container1 .info-content{
  width: 65%;
}

.container1 a{
  color: blue;
}

/*Courses*/
